langgraph
langchain_qdrant
langchain_openai
ragas
kagglehub
pandas
numpy
qdrant-client
sentence-transformers
langchain-text-splitters
fastapi
uvicorn
nest-asyncio
pyngrok
streamlit
requests
pydantic
datasets
